.DS_Store
.vscode
__pycache__
07/.DS_Store
07/BasicTest/BasicTest.cmp
07/BasicTest/BasicTest.tst
07/BasicTest/BasicTest.vm
07/BasicTest/BasicTestVME.tst
07/PointerTest/PointerTest.cmp
07/PointerTest/PointerTest.tst
07/PointerTest/PointerTest.vm
07/PointerTest/PointerTestVME.tst
07/SimpleAdd/SimpleAdd.cmp
07/SimpleAdd/SimpleAdd.tst
07/SimpleAdd/SimpleAdd.vm
07/SimpleAdd/SimpleAddVME.tst
07/StackTest/StackTest.cmp
07/StackTest/StackTest.tst
07/StackTest/StackTest.vm
07/StackTest/StackTestVME.tst
07/StaticTest/StaticTest.cmp
07/StaticTest/StaticTest.tst
07/StaticTest/StaticTest.vm
07/StaticTest/StaticTestVME.tst
08/BasicLoop/BasicLoop.cmp  
08/BasicLoop/BasicLoop.tst  
08/BasicLoop/BasicLoop.vm  
08/BasicLoop/BasicLoopVME.tst  
08/FibonacciElement/FibonacciElement.cmp  
08/FibonacciElement/FibonacciElement.tst  
08/FibonacciElement/FibonacciElementVME.tst  
08/FibonacciElement/Main.vm  
08/FibonacciElement/Sys.vm  
08/FibonacciSeries/FibonacciSeries.cmp  
08/FibonacciSeries/FibonacciSeries.tst  
08/FibonacciSeries/FibonacciSeries.vm  
08/FibonacciSeries/FibonacciSeriesVME.tst  
08/NestedCall/NestedCall.cmp  
08/NestedCall/NestedCall.tst  
08/NestedCall/NestedCallVME.tst  
08/NestedCall/Sys.vm  
08/SimpleFunction/SimpleFunction.cmp  
08/SimpleFunction/SimpleFunction.tst  
08/SimpleFunction/SimpleFunction.vm  
08/SimpleFunction/SimpleFunctionVME.tst  
08/StaticsTest/Class1.vm  
08/StaticsTest/Class2.vm  
08/StaticsTest/StaticsTest.cmp  
08/StaticsTest/StaticsTest.tst  
08/StaticsTest/StaticsTestVME.tst  
08/StaticsTest/Sys.vm  
09/Tetris/*.vm
10/ArrayTest/Main.*
10/ExpressionLessSquare/Main.*
10/ExpressionLessSquare/Square.*
10/ExpressionLessSquare/SquareGames.*
10/Square/Main.*
10/Square/Square.*
10/Square/SquareGames.*
