.DS_Store
07/.DS_Store
07/BasicTest/BasicTest.cmp
07/BasicTest/BasicTest.tst
07/BasicTest/BasicTest.vm
07/BasicTest/BasicTestVME.tst
07/PointerTest/PointerTest.cmp
07/PointerTest/PointerTest.tst
07/PointerTest/PointerTest.vm
07/PointerTest/PointerTestVME.tst
07/SimpleAdd/SimpleAdd.cmp
07/SimpleAdd/SimpleAdd.tst
07/SimpleAdd/SimpleAdd.vm
07/SimpleAdd/SimpleAddVME.tst
07/StackTest/StackTest.cmp
07/StackTest/StackTest.tst
07/StackTest/StackTest.vm
07/StackTest/StackTestVME.tst
07/StaticTest/StaticTest.cmp
07/StaticTest/StaticTest.tst
07/StaticTest/StaticTest.vm
07/StaticTest/StaticTestVME.tst