function LongBlock.new 4
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 1
pop this 1
push argument 0
push argument 1
call Square.new 2
pop local 0
push argument 0
push constant 1
add
push argument 1
call Square.new 2
pop local 1
push argument 0
push constant 2
add
push argument 1
call Square.new 2
pop local 2
push argument 0
push constant 3
add
push argument 1
call Square.new 2
pop local 3
push constant 4
call Array.new 1
pop this 0
push constant 0
push this 0
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 0
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 0
add
push local 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
call LongBlock.show 1
pop temp 0
push pointer 0
return
function LongBlock.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function LongBlock.show 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call LongBlock.draw 1
pop temp 0
push constant 0
return
function LongBlock.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call LongBlock.draw 1
pop temp 0
push constant 0
return
function LongBlock.draw 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 4
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Square.draw 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function LongBlock.fall 2
push argument 0
pop pointer 0
push constant 0
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Square.get_y 1
push constant 19
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call LongBlock.hide 1
pop temp 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 4
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 1
push local 1
call Square.get_y 1
push constant 1
add
call Square.set_y 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
call LongBlock.show 1
pop temp 0
label IF_FALSE0
push constant 0
return
